
.main {
    width: 500px;
    margin: 100px auto;
    text-align:left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #45a049;

  }

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  padding: 1px black;
  box-shadow: 0px 2px 12px 0px; 
}

  .message {

    background-color:transparent;
    width: fit-content;
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #424242;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
  }
  
  li a.active {
    color: rgb(68, 68, 68);
    background-color: #000000;
  }

  
  
  input[type="text"],
  input[type="email"],
  button[type="submit"],
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 0px;
  }
  
  select[name="teacher"] {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 0px;
  }
  
  button[type="submit"]{
    background-color: #4CAF50;
    color: white;
    border-radius: 75px;
    width: 30%;
    margin-left: 35%;
    margin-top: 50px;
    
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }
  