
.main {
    width: 500px;
    margin: 100px auto;
    text-align:left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #45a049;

  }

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1000px;
  height: 600px;
  border: 1px solid #ccc;
  padding: 1px black;
  box-shadow: 0px 2px 12px 0px; 
}

  .message {
    background-color:transparent;
    width: fit-content;
    color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
  }
  
.navbar {
  display: flex;
  flex-direction: column;
}


.navbar-search-li {
  margin-left: auto;
  margin-right: 5px;
}

.navbar-search {
  display: flex;
  align-items: center;
}


#search-keyword {
  width: fit-content; 
}

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #424242;
  
  }

li .login-a:hover {
  background-color: transparent!important;
  box-shadow: 5px  #dadada!important;
  
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
  }
  
  li a.active {
    color: rgb(68, 68, 68);
    background-color: #000000;
  }

a {
  text-decoration: none;
  color: #000000;
}
    
  input[type="text"],
  input[type="email"],
  button[type="submit"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 0px;
  }
  
  select[name="teacher"] {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 0px;
  }
  
  button[type="submit"]{
    background-color: #4CAF50;
    color: white;
    border-radius: 75px;
    width: 30%;
    margin-left: 35%;
    margin-top: 50px;
    
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }

.img-container {
  width: 100%;
  height: 500px;
  text-align: center;
  

}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity:calc(0.9);
} 

.courses {
  height: 700px;
  width: fit-content;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(rgb(182, 182, 182), rgb(240, 240, 240), rgb(180, 180, 180), 0.6);
  flex-direction: row;
  gap: 15rem;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.headline{
  margin-top: 15rem;
  margin-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

h1 {
  margin-top: 15rem;
  margin-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.latest-courses {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-card {
  height: 300px;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.slideshow {
  display: flex;
  position: absolute;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .slide {
  
  /* transition: opacity 0.5s ease-in-out, left 1s ease-in-out; */

/* 
.slide.active {
  opacity: 1;
  left: 0;
} */ 


.course-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5%;
  gap: 30px;
  justify-items: center;
 
}

.course-info {
  width: 350px;
  text-align: center;
  background-color: #f5f4f4;
  border: 1px solid #dadada;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 100px;
  position: relative;
}

.course-info:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
  background-color: #e7e7e7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}



.course-info .teacher,
.course-info .desc {
  display: none;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.course-info:hover .teacher {
  display: block;
  opacity: 1;
  bottom: 50%;
  
}

.course-info:hover .desc {
  display: block;
  opacity: 1;
  top: 50%;
  margin-top: 10px;
}


.main-students {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #000000;
  background: linear-gradient(90deg, #000000, #4e755d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 20px;
}


.students-table {
  width:70%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8; 
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.students-table th {
  background-color: #4a4a4a;
  color: #fff;
  padding: 15px;
  font-weight:bolder;
  text-align: center;
}

.students-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

.students-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.students-table tr:hover {
  background-color: #eaeaea;
}

.search-students {
  width: 500px;
  margin: 100px auto;
  text-align:left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #45a049;

}

.attendance {
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  font-family: sans-serif;
}
.attendance a {
  font:bold;
  color: #000000;
}

.course-attendance  {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;

}

.students-attend * {
  display: flex;
  align-items: center;
  justify-content: center;

}

.students-grades {
  display: flex;
  flex-direction: row;
}

.students-attend input[type="submit"] {
  background-color: #4CAF49;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.students-attend input[type="submit"]:hover {
  background-color: #2c8d34;
}

.course-head {
 display: flex;
 justify-content: center;
}

.students-grades {
  display: flex;
  justify-content: center;
  justify-items:left;
}

.teacher-container {
  display: flex;
  width:20%;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.teacher-container a {
  text-decoration: none;
  color: #000000;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

.profile-picture-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.edit-icon {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  padding: 4px;
  cursor: pointer;
  z-index: 2;
}


.profile-picture-container:hover .edit-icon {
  display: block;
}

.profile-info h2 {
  margin-bottom: 10px;
}

.course-details {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 500px;
  height:500px;
  text-align: center;
  margin: 0 auto;
  margin-top: -20%;
}


#popup-container {
  position: absolute;
  font-family:Arial, Helvetica, sans-serif;
  font-size: larger bold;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  top:15%;
  left: 50%;
  transform: translate(-50%);
  background-color:floralwhite;
  padding: 20px;
  text-align: center;
  display: none;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  margin: 0 auto;
}

#popup-container.fade-in {
  display: block;
  opacity: 1;
  top: 10%;
  transition: top 0.5s ease-in-out, opacity 1s ease-in-out;
}
