{% extends "base.html" %}
{% block content %}
    {% include 'navbar.html' %}

    <div id="popup-container"></div>

    <div class="container">
    <div class="main">
    <form id="form-container" action="/add_student" method="post">
        <label for="full_name">Full Name</label>
        <input type="text" name="full_name" id="" placeholder="Enter Full Name" autofocus>
        <label for="email">Email</label>
        <input type="email" name="email" id="" placeholder="Example: blabla@gmail.com">
        <button type="submit">Add</button>
    </form>
</div>
</div>
{% endblock %}
