{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<div class="attendance"><a href="/teacher/{{ t_id }}/attendance">Attendence</a></div>
<div class="course-attendance">
    <form method="get" action="">
        <label for="selected_date">Select Date:</label>
        <select id="selected_date" name="selected_date">
            <option value="">-- Select Date --</option>
            {% for date in available_dates %}
                {% if date == selected_date %}
                    <option value="{{ date }}" selected>{{ date }}</option>
                {% else %}
                    <option value="{{ date }}">{{ date }}</option>
                {% endif %}
            {% endfor %}
            
        </select>
        <input type="submit" value="Show Attendance">
    </form>

    {% for c in course %}
        <h1>Attendance For {{ c.name }}</h1>
        <p>Date: {{ date }}</p>
        {% for s_id, s_name in c.students %}
            <div class="students-attend">
                <form action="" method="post">
                    <div class="student-info">
                        <input type="hidden" name="s_id_" value="{{ s_id }}">
                        <input type="hidden" name="selected_date" value="{{ date }}">
                        <span class="student-name" style="width: 120px;">{{ s_name }}</span>
                        <div class="radio-buttons">
                            {% if c_attend[s_id] is not none %}
                                {% if c_attend[s_id] == 'yes' %}
                                    YES<input type="radio" name="choice" value="yes" checked>
                                {% else %}
                                    YES<input type="radio" name="choice" value="yes">
                                {% endif %}

                                {% if c_attend[s_id] == 'no' %}
                                    NO<input type="radio" name="choice" value="no" checked>
                                {% else %}
                                    NO<input type="radio" name="choice" value="no">
                                {% endif %}
                            {% else %}
                                YES<input type="radio" name="choice" value="yes">
                                NO<input type="radio" name="choice" value="no">
                            {% endif %}
                        </div>
                    </div>
                    <div class="submit-container">
                        <input type="submit" value="Set">
                    </div>
                </form>
            </div>
            <br>
        {% endfor %}
    {% endfor %}
</div>



{% endblock %}