<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script type="text/babel" src="/static/Messages.js"></script>
    <script type="text/babel" src="/static/messagesForm.js"></script>
    <script type="text/babel" src="/static/messagesCount.js"></script> -->
    <!-- <script type="text/babel" src="/static/newMessageCounter.js"></script> -->
    <script src="/static/searchStudents.js" defer ></script>
    <script src="/static/profilePhoto.js" defer ></script>
    <script src="/static/courseList.js" defer ></script>
    <script src="/static/slideShow.js" defer ></script>
    <script src="/static/popupMessage.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>Greatest School Ever</title>
</head>

<body>