<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="img-container">
        <h1>The School That Will Build Your Future</h1><br>
        
        <img src="/static/imgs/student-group.jpg" alt="Studying Group">
    </div>
    <div class="headline">
        <h1>We Offer A wide Range Of Courses</h1>
    </div>
    <div class="courses">
        {% for course in courses %}
        <div class="each-course">
            {{course}}
        </div>
        {% endfor %}
    </div>
</body>

</html>