{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}
   
    <div id="newMsgs"></div>
    <div id="msg"></div>
    <div class="img-container">
        <div class="message">
            <p><strong>{{message}}</strong></p>
        </div>
        
       
       
        <h1>The School That Will Build Your Future</h1><br>

        <img src="/static/images/student-group.jpg" alt="Studying Group">
    </div>

    <div class="headline">
        <h1>Our latest Courses That Might Interest You!</h1>
    </div>
    <div class="latest-courses">
        <div class="slideshow">
          {% for c_name, c_info in courses.items() %}
          <div class="slide">
            <div class="course-card">
              <div class="course-name">{{ c_name }}</div>
              <div class="course-teacher">{{ c_info.teacher_name }}</div>
              <img src="{{ url_for('static', filename='images/' + c_info.image_filename) }}" alt="{{ c_name }} Image">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
    {% endblock %}
