<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="img-container">
        <h1>The School That Will Build Your Future</h1><br>

        <img src="/static/img/student-group.jpg" alt="Studying Group">
    </div>
    <div class="headline">
        <h1>Our latest Courses That Might Interest You!</h1>
    </div>
    <div class="latest-courses">
        {% for c in course[-2:] %}
        <div class="course-card">
                <div class="course-name">{{ c.name }}</div>
                <div class="course-teacher">{{ c.t_name }}</div>
            <p class="desc">{{ c.desc }}</p>
        </div>
        {% endfor %}
    </div>
</body>

</html>