<div class="navbar">

    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/add_course">Add Course</a></li>
        <li><a href="/add_student">Add Student</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/teachers">Teachers</a></li>
        <li><a class="login-a" href="/login">Log In</a></li>
        <li class="navbar-search-li">
            <div class="navbar-search">
                <form action="/search" method="post">
                    <input type="text" name="search-keyword" id="search-keyword" placeholder="Looking For Something ?">
                </form>
            </div>
        <li>
    </ul>

</div>